.main-heading {
  color: #faf8f8;
  padding-left: 10px;
  display: inline-flex;
}

.global-header {
  background-color: #5eadb9;
  font-family: 'Cormorant Garamond';
}

.main-content1 {
  text-align: center;
  background-color: #eef7f8;
  padding: 0%;
  margin: 0%;
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
}

.space-search {
  align-items: center;
  height: 80px;
  background-color: #eef7f8;
  margin-top: 50px;
}

.search-bar {
  margin-top: 30px;
  margin-bottom: 50px;
  box-sizing: content-box;

}

.footer-style {
  background-color: #eef7f8;
  color: #eef7f8;
}

.header-blog-post {
  background-color: #eef7f8;
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

@media only screen and (max-width: 768px) {
  .main-heading {
    display: flex;
    justify-content: center;
  } .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin-left: 80px;
    margin-right: 80px;
  } .logo {
    margin-left: 0px;
  } 
}
